@{
    ViewBag.Title = "Thanh toán thành công";
}

<section class="section section--bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section__wrap">
                    <p style="color: white;">Dưới đây là mã QR của bạn:</p>
                    <img src="~/images/qr_d.png" alt="QR Code" style="width: 300px; height: 300px;" />
                    <br />
                    <a href="/" class="btn btn-primary" style="color: aqua; border: 2px solid white; border-radius: 5px;">Quay về trang chủ</a>
                </div>
            </div>
        </div>
    </div>
</section>
