<!-- review items -->
<li class="reviews__item">
    <div class="reviews__autor">
        <img class="reviews__avatar" src="~/Content/img/user.png" alt="">
        <span class="reviews__name">@Model.User.Ten</span>
        <span class="reviews__time">@Model.ThoiGian</span>

        <span class="reviews__rating"><i class="icon ion-ios-star"></i>@Model.SoSao</span>
    </div>
    <p class="reviews__text">@Model.NoiDung</p>
</li>
<!-- end review items -->
